{% extends "myapp/base.html" %}
 
{% block content %}
<div class="posts">
    <!--{% if request.user.is_authenticated %}-->
    {% for post in post_list %}
    {% if post.status == 1 or request.user.is_authenticated %}
    <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url 'blog_detail' id=post.id %}">{{ post.title }}</a></h2>
 
                    <p class="post-meta">
                        Time:  <a class="post-author" href="#">{{ post.pub_date |date:'Y /m /d'}}</a> <a class="post-category post-category-js" href="#">{{ post.category }}</a>
                    </p>
            </header>
 
                <div class="post-description">
                    <p>
                        {% if post.content|safe|length >= 200 %}
                        {{ post.content|safe|slice:"200" }}...
                        {% else %}
                        {{ post.content|safe }}
                        {% endif %}
                    </p>
                </div>
                <!--<a class="pure-button" href="{% url 'blog_detail' id=post.id %}">Read More >>> </a>-->
        </section>
    {% endif %}
    {% endfor %}
    <!--{% endif %}-->
</div><!-- /.blog-post -->
{% endblock %}